body {
    background-image: url("http://cdn.osxdaily.com/wp-content/uploads/2017/06/ios-11-default-wallpaper.jpg");
}

body {
    color: lightblue;
    font-weight: bold;
    font-family: "Charcoal", Impact, sans-serif;
}

.button1 {
    border-radius: 25%;
}
.button1 {
    background-color: #4CAF50;
}
.button1 {
    font-size: 40px;
}
.button1{
    box-shadow: 0 12px 16px 0 rgba(0,
    0,
    0,
    0.24),
    0 17px 50px 0 rgba(0,
            0,
            0,
            0.19);

}
.button1 {
    text-align: center;
}
.button2{
    background-color: #008CBA; /* Blue */
    border: none;
    color: darkred;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
.button1 {
    visibility: hidden;
}
.button2 {
    visibility: hidden;
}
.button3{
    border-radius: 50%;
}
.button3{
    font-size: 60px;
}
.button3{
    box-shadow: 0 12px 16px 0 rgba(0,
    0,
    0,
    0.24),
    0 17px 50px 0 rgba(0,
            0,
            0,
            0.19);

}
.button4 {
    text-align: center;
}
.button4{
    border-radius: 50%;
}
.button4{
    font-size: 60px;
}
.button4{
    box-shadow: 0 12px 16px 0 rgba(0,
    0,
    0,
    0.24),
    0 17px 50px 0 rgba(0,
            0,
            0,
            0.19);

}
.button4 {
    text-align: center;
}

.button3{
    color: darkred;
}
.button4{
     color: green;
 }
button4{
    background-color:lightsalmon;

}
.button3{
    background-color:orange;
}
.button7{
    visibility: hidden;
}
.button10{
    visibility: hidden;
}
.button7{
    background-color:springgreen;
}
.button10{
    background-color: green;
}
.button7{
    font-size: 50px;
}
.button10{
    font-size: 50px;
}